/**
 * Bootstrap overrides
 */
.navbar { border-radius: 0; }
.navbar-inverse .navbar-nav > li > .active,
.navbar-inverse .navbar-brand.active { color: #fff; }

/* Icons as SVG element */
.icon { 
  display: inline-block; 
  height: 1em;
  vertical-align: middle;
  width: 1em; 
}
.icon-small { height: 1em; width: 1em; }
.icon-medium { height: 2em; width: 2em; }
.icon-large { height: 3em; width: 3em; }
.navbar-brand .icon { margin-right: .5em; vertical-align: top; }
